---
eleventyImport:
  - collections: ["projects"]
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguel's Projects</title>
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/general-read.css">

    <style>
        body {
            max-width: 800px;
        }
    </style>
</head>
<body>
    <h1>All of my projects and contributions</h1>
    <div class="projects-container">
    {% for project in collections.projects %}
        {% include 'components/project.liquid', project: project %}
    {% endfor %}
    </div>
    {% include 'layouts/footer.liquid' %}
</body>
</html>
