<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="/assets/css/global.css" rel="stylesheet">

    <link href="/assets/css/post.css" rel="stylesheet">
</head>
<body>
    <div class="title-fade-out"><h1>{{ title }}</h1></div>
    <div class="post-content">
    {{ content }}
    </div>
</body>
</html>
