@font-face {
    font-family: "Playwrite AU SA";
    src: url("/assets/fonts/PlaywriteAUSA-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DM Serif Text";
    src: url("/assets/fonts/DMSerifText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "DM Serif Text";
    src: url("/assets/fonts/DMSerifText-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

:root {
    --ff-headings: "Playwrite AU SA", cursive;

    --ff-content: "DM Serif Text", serif;

    --bg-50: #f2fbe9;
    --bg-100: #d9f3be;
    --bg-200: #c0ec93;
    --bg-300: #a6e467;
    --bg-400: #8ddc3c;
    --bg-500: #73c323;
    --bg-600: #5a981b;
    --bg-700: #406c13;
    --bg-800: #26410c;
    --bg-900: #0d1604;

    --fg-50: #f1f8ed;
    --fg-100: #d5e9c8;
    --fg-200: #b9dba4;
    --fg-300: #9dcc80;
    --fg-400: #81bd5b;
    --fg-500: #67a442;
    --fg-600: #507f33;
    --fg-700: #395b24;
    --fg-800: #223716;
    --fg-900: #0b1207;

    --on-bg-dark: var(--bg-800);
    --on-bg-light: var(--bg-100);

    --on-fg-dark: var(--fg-800);
    --on-fg-light: var(--fg-50);

    --primary-50: #eff5f5;
    --primary-100: #d0e2e1;
    --primary-200: #b0cfce;
    --primary-300: #90bbba;
    --primary-400: #71a8a6;
    --primary-500: #578e8d;
    --primary-600: #446f6e;
    --primary-700: #304f4e;
    --primary-800: #1d2f2f;
    --primary-900: #0a1010;

    --on-primary-dark: var(--primary-800);
    --on-primary-light: var(--primary-50);

    font-family: var(--ff-content);
    color: var(--fg-900);
}

* {
    box-sizing: border-box;
    text-wrap: pretty;
}

html {
    font-size: 16pt;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-50);
    background-image: url("/assets/img/bg-pattern.png");
    background-size: 15rem;

    padding: 0 1rem;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-headings);
    color: var(--primary-600);

    line-height: 1.5;
}

a {
    color: var(--primary-400);
    text-decoration: transparent;
}

a:hover {
    color: var(--primary-200);
    text-decoration: underline;
}

p,
a {
    line-height: 1.5;
}

.card {
    padding: .5rem;

    border: .25rem dotted var(--primary-400);
    border-radius: 1rem;

    color: var(--fg-900);

    background-color: var(--fg-50);
}

@media (max-width: 786px) {
    html {
        font-size: 14pt;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }

    body {
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-200);
        background-image: none;
    }

    a {
        color: var(--primary-300);
    }

    a:hover {
        color: var(--primary-800);
    }

    .card {
        background-color: var(--fg-300);
        border: .25rem dotted var(--primary-800);
        color: var(--primary-900);
    }

    :root {
        --bg-900: #f0f0f5;
        --bg-800: #d1d2e1;
        --bg-700: #b2b4cd;
        --bg-600: #9396b9;
        --bg-500: #7478a4;
        --bg-400: #5b5f8b;
        --bg-300: #464a6c;
        --bg-200: #32354d;
        --bg-100: #1e202e;
        --bg-50: #0a0b0f;

        --fg-900: #f0f2f4;
        --fg-800: #d2d7df;
        --fg-700: #b4bcca;
        --fg-600: #97a2b5;
        --fg-500: #7987a0;
        --fg-400: #5f6d86;
        --fg-300: #4a5568;
        --fg-200: #353d4b;
        --fg-100: #20242d;
        --fg-50: #0b0c0f;

        --primary-900: #fdf8e8;
        --primary-800: #f9eab9;
        --primary-700: #f4db8a;
        --primary-600: #f0cd5b;
        --primary-500: #ecbf2c;
        --primary-400: #d3a513;
        --primary-300: #a4800f;
        --primary-200: #755c0b;
        --primary-100: #463706;
        --primary-50: #171202;

        --on-bg-dark: var(--bg-100);
        --on-bg-light: var(--bg-900);

        --on-fg-dark: var(--fg-100);
        --on-fg-light: var(--fg-900);

        --on-primary-dark: var(--primary-50);
        --on-primary-light: var(--primary-900);
    }
}
