header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;

    height: 100vh;
    width: max(fit-content, 70%);

    margin-inline: auto;
}

#left-header {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    z-index: 1;
}

#left-header h1 {
    margin: 0;
}

#left-header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem 0;
    padding-left: 0.45rem;
}

#left-header a {
    position: relative;

    display: block;

    padding: 0.1rem 0.75rem;
}

#right-header {
    display: grid;

    gap: 0.5rem;

    width: 10rem;

    position: relative;

    z-index: 1;
}

#right-header * {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#right-header h2 {
    font-size: 1.2rem;
}

#right-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

#right-header p {
    font-size: 1rem;
    color: var(--primary-400);
}

#right-header img {
    aspect-ratio: 1;
    margin-inline: auto;
    width: 80%;

    border-radius: 50%;

    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.7);

    object-fit: cover;
}

#bubble-container {
    position: absolute;

    --bubble-1: #ef3e36;
    --bubble-2: #2e282a;
    --bubble-3: #17bebb;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    filter: blur(60px);

    pointer-events: none;
    z-index: -1;
}

@media (max-width: 786px) {
    #left-header nav {
        max-width: 7rem;
    }

    #left-header a {
        width: 100%;
        text-align: center;
    }

    #right-header {
        position: absolute;

        background: none;
        border: none;

        top: 48vh;
        left: 50%;

        z-index: -1;
    }

    #bubble-container {
        align-items: flex-start;
    }
}

@media (prefers-color-scheme: dark) {
    #right-header p {
        color: var(--primary-900);
    }

    #bubble-container {
        --bubble-1: #ff5714;
        --bubble-2: #6eeb83;
        --bubble-3: #1be7ff;

        filter: blur(40px);
    }
}
