header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;

    height: 100vh;
    width: fit-content;

    margin-inline: auto;
}

#left-header {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    z-index: 1;
}

#left-header h1 {
    margin: 0;
}

#left-header nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#left-header a {
    position: relative;

    display: block;

    padding: .1rem .75rem;
}

#right-header {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    gap: .5rem;

    max-width: 12rem;

    position: relative;

    z-index: 1;
}

#right-header * {
    margin: 0;
    padding: 0;

    text-align: center;
}

#right-header h2 {
    font-size: 1.2rem;
}

#right-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

#right-header p {
    font-size: 1rem;
    color: var(--primary-400);
}

#right-header img {
    height: 7rem;
    width: 7rem;

    border-radius: 50%;

    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.7);

    object-fit: cover;
}

#bubble-container {
    position: absolute;

    --bubble-1: #EF3E36;
    --bubble-2: #2E282A;
    --bubble-3: #17BEBB;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    filter: blur(60px);

    pointer-events: none;
    z-index: -1;
}

@media (max-width: 786px) {
    #left-header nav {
        max-width: 7rem;
    }

    #left-header a {
        width: 100%;
        text-align: center;
    }

    #right-header {
        position: absolute;

        background: none;
        border: none;

        top: 48vh;
        left: 50%;

        z-index: -1;
    }

    #bubble-container {
        align-items: flex-start;
    }
}

@media (prefers-color-scheme: dark) {
    #right-header p {
        color: var(--primary-900);
    }

    #bubble-container {
        --bubble-1: #FF5714;
        --bubble-2: #6EEB83;
        --bubble-3: #1BE7FF;

        filter: blur(40px);
    }
}
