---
eleventyImport:
  collections: ['posts']
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguel's Blog</title>

    <link rel="icon" href="/assets/img/favicon.svg" type="image/x-icon">

    <link href="/assets/css/global.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/general-read.css">
    <link rel="stylesheet" href="/assets/css/post_card.css">
    <script src="/assets/js/bubble.js" defer></script>

    <style>
        .posts {
            display: grid;

            margin-top: 2rem;
            gap: .25rem;
        }
    </style>
</head>

<body>
    {% include 'components/ambient.liquid' %}
    <h1>My Blog</h1>
    <div class="posts">
        {% for post in collections.posts reversed %}
          {% include 'components/post_card.liquid', post: post %}
          {% unless forloop.last %}
            <hr class="divider"/>
          {% endunless %}
        {% endfor %}
    </div>
    {% include 'layouts/footer.liquid' %}
</body>

</html>
