<section class="skills-section">
    <h2 class="skills-title">Skills & Expertise</h2>
    <p>Although I recommend looking at my <i>Curriculum Vitae</i>, here's a quick overview of my skillset:</p>

    <!-- Programming Languages -->
    <h3>Programming Languages</h3>
    {% render "components/skill-progress.liquid", skill_name: "C/C++", progress: 95, label: "Experienced" %}
    {% render "components/skill-progress.liquid", skill_name: "React / Next.js", progress: 95, label: "Experienced" %}
    {% render "components/skill-progress.liquid", skill_name: "Python", progress: 70, label: "Proficient" %}
    {% render "components/skill-progress.liquid", skill_name: "SQL", progress: 60, label: "Intermediate" %}
    {% render "components/skill-progress.liquid", skill_name: "HTML/JS/CSS", progress: 90, label: "Experienced" %}

    <!-- Human Languages -->
    <h3>Human Languages</h3>
    {% render "components/skill-progress.liquid", skill_name: "Portuguese (EU)", progress: 100, label: "C2" %}
    {% render "components/skill-progress.liquid", skill_name: "English", progress: 100, label: "C2" %}
    {% render "components/skill-progress.liquid", skill_name: "Spanish", progress: 40, label: "A2" %}

    <!-- Soft Skills -->
    <h3>Soft Skills</h3>
    {% render "components/skill-progress.liquid", skill_name: "Communication", progress: 60, label: "6/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Leadership", progress: 75, label: "7.5/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Problem Solving", progress: 50, label: "5/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Time Management", progress: 80, label: "8/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Critical Thinking", progress: 90, label: "9/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Writing", progress: 90, label: "9/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Attention To Detail", progress: 60, label: "6/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Resilience", progress: 60, label: "6/10" %}
    {% render "components/skill-progress.liquid", skill_name: "Adaptability", progress: 70, label: "7/10" %}
</section>

<style>

</style>