@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  filter: url(#noiseFilter);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--on-surface-headings);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;

  color: var(--on-surface);
}

body {
  /* == Colors == */
  --on-primary: #000000;
  --on-surface-headings: #ded6ff;
  --on-surface: #ffffff;

  --accent: #f2bac9;
  --surface: #5331cb;

  /* == fonts == */
  --ff-headings: "Borel", cursive;
  --fs-headings: 1.8rem;

  --ff-content: "Prata", serif;
  --fs-content: 1.2rem;

  /* == Sizing == */
  --article-width: min(75ch, 100% - calc(var(--min-margin) * 2));
  --min-margin: 2rem;

  transition: all 1s;

  background-color: var(--surface);
  font-family: var(--ff-content);
  font-size: var(--fs-content);
}

body.change-colors {
  --on-primary: #000000;
  --on-surface-headings: #54388d;
  --on-surface: #000000;

  --accent: #ff4c7c;
  --surface: #ddd4ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--accent);
  font-family: "Borel", cursive;
}

h1 {
  font-size: var(--fs-headings);
  margin-top: calc(var(--fs-headings) * 1.8);
  margin-bottom: calc(var(--fs-headings) * -0.5);
}
h2 {
  font-size: calc(var(--fs-headings) / 1.2);
  margin-top: calc(var(--fs-headings) * 1.6);
  margin-bottom: calc(var(--fs-headings) / -1.4);
}
h3 {
  font-size: calc(var(--fs-headings) / 1.4);
  margin-top: calc(var(--fs-headings) * 1.4);
  margin-bottom: calc(var(--fs-headings) / -1.6);
}
h4 {
  font-size: calc(var(--fs-headings) / 1.6);
  margin-top: calc(var(--fs-headings) * 1.2);
  margin-bottom: calc(var(--fs-headings) / -1.8);
}
h5 {
  font-size: calc(var(--fs-headings) / 1.8);
  margin-top: var(--fs-headings);
  margin-bottom: calc(var(--fs-headings) / -2);
}
h6 {
  font-size: calc(var(--fs-headings) / 2);
  margin-bottom: calc(var(--fs-headings) / -2.2);
}

hr {
  width: var(--article-width);

  margin-block: var(--min-margin);

  border: none;
  border-top: 6px dotted var(--on-surface-headings);
}

article {
  margin-inline: auto;
  width: var(--article-width);
}

article p {
  text-align: justify;
  line-height: calc(var(--fs-content) * 1.6);
  text-wrap: pretty;
}

article a {
  font-family: var(--ff-content);
  color: var(--accent);
}

article img {
  display: block;
  max-width: 100%;
  max-height: 60rem;

  width: 100%;

  object-fit: cover;

  border-radius: 0.5rem;
  margin-block: 1rem;
}

progress {
  height: .5rem;
  width: 100%;

  border-radius: 1rem;

  border: none;
  outline: none;
  background-color: white;
}

progress::-webkit-progress-bar {
  border-radius: 1rem;
  background-color: white;
}

progress::-webkit-progress-value {
  background-color: var(--on-surface-headings);
  border-radius: 1rem;
}

progress::-moz-progress-bar {
  border-radius: 1rem;
  background-color: var(--on-surface-headings);
}

footer {
  width: var(--article-width);
  margin-inline: auto;
  margin-block: var(--min-margin);
}

footer p,
footer a {
  margin: 1rem 0 0;
}

#background::before,
#background::after {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  z-index: -1;

  opacity: 30%;
}

#background::before {
  background-color: #000000;
  filter: url(#noiseFilter);
}

#background {
  position: fixed;
  z-index: -1;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
}

#background svg {
  position: absolute;
}

#bubble-container {
  z-index: -2;
  position: relative;
  margin-left: 70%;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;

  margin-inline: calc(var(--min-margin) * 2);
}

#landing h1 {
  margin: 0;
}

#welcome {
  color: var(--on-surface-headings);
  font-size: calc(var(--fs-headings) * 1.2);
  font-family: var(--ff-headings);
}

.welcome__details {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  font-size: calc(var(--fs-headings) / 1.2);
}

.welcome__details div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.welcome__details a {
  position: relative;

  text-align: center;
  text-decoration: none;
  color: var(--on-surface-headings);
}

.welcome__details h2 {
  margin: 0;
  color: var(--accent);
}

.welcome__details a:after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0.6em;

  height: 2px;
  width: 100%;

  scale: 0 1;

  background-color: var(--on-surface-headings);

  transition: all 0.5s;
}

.welcome__details a:hover::after {
  scale: 1 1;
}

.id-anchor::before {
  content: "#";
}

.flex {
  display: flex;
  gap: 1rem;
}

.card {
  width: fit-content;

  padding: 1rem;

  border-radius: .5rem;
  
  background: var(--surface);
}

.card img {
  margin: 0;
  aspect-ratio: 1;
  max-width: 150px;
}

.card p {
  text-align: left;
  margin-bottom: 0;
}

.card :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
}

.card h5 {
  margin-top: 1rem;
}

.card hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

/* == Animations == */
.fade-pop-up-in {
  position: relative;
  opacity: 0;

  animation: fade-pop-up-in 300ms forwards;
  animation-delay: var(--delay);
}

@keyframes fade-pop-up-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* == Media Queries == */
@media (prefers-color-scheme: dark) {
  body.change-colors {
    --on-primary: #000000;
    --on-surface-headings: #9b84ce;
    --on-surface: #ffffff;

    --accent: #d06a85;
    --surface: #000000;
  }

  progress {
    background-color: #333;
  }

  progress::-webkit-progress-bar {
    background-color: #333;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }

  html {
    scroll-behavior: auto;
  }

  .fade-pop-up-in {
    opacity: 1;
  }

  .bubble {
    opacity: 0;
  }
}

@media only screen and (min-width: 900px) {
  body {
    --fs-headings: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .card img {
    max-width: 100%;
  }

  .card .flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  #landing {
    margin: var(--min-margin);
    gap: 2rem;
  }

  #bubble-container {
    margin-left: auto;
    margin-right: 10%;
  }

  .welcome__details {
    flex-direction: column;
    gap: 0;
  }

  .welcome__details div {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
