@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root {
  /* == Colors == */
  --on-primary: #000000;
  --on-surface-headings: #ded6ff;
  --on-surface: #ffffff;

  --primary: #a2d2ff;
  --surface: #5331cb;

  /* == fonts == */
  --ff-headings: 'Borel', cursive;
  --fs-headings: 2rem;

  --ff-content: sans-serif;

  /* == screen sizes == */
  --ss-phone: 600px; /* !! Use with max-width !! */
  --ss-tablet-portrait: 900px;
  --ss-tablet-landscape: 1200px;
  --ss-desktop: 1800px;
}

@media only screen and (min-width: 900px) {
  :root {
    --fs-headings: 4rem;
  }
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;

  color: var(--on-surface);

  overflow: hidden;
}

#background::before,
#background::after {
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  z-index: -1;

  opacity: 30%;
}

#background::before {
  background-color: #000000;
  filter: url(#noiseFilter);
}

#background {
  position: fixed;
  z-index: -1;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
}

body {
  background-color: var(--surface);
}

#bubble-container {
  z-index: -2;
  position: relative;

  height: 760px;
  width: 760px;

  margin-left: calc(100% - 760px);
}

main {
  overflow-y: auto;

  height: 100vh;
  padding: 4rem;
}

#welcome {
  color: var(--on-surface-headings);
  font-size: calc(var(--fs-headings) * 1.2);
  font-family: var(--ff-headings);
}

.welcome__contacts {
  display: flex;
  gap: 2rem;

  margin-top: calc(var(--fs-headings) * -1.2);
}