<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'components/theme-init.liquid' %}
    <title>{{ title }}</title>
    <link rel="icon" href="/assets/img/favicon.svg" type="image/x-icon">
    <link href="/assets/css/global.css" rel="stylesheet">

    <link href="/assets/css/post.css" rel="stylesheet">
    <script src="/assets/js/bubble.js" defer></script>
</head>
<body>
    {% include 'components/ambient.liquid' %}
    <div class="title-fade-out"><h1>{{ title }}</h1></div>
    <div class="post-content">
    {{ content }}
    {% include 'layouts/footer.liquid' %}
    </div>
</body>
<script>
    setTimeout(() => {
        document.getElementsByClassName('title-fade-out')[0].classList.add('gone');
    }, 2000);
</script>
</html>
